.home {
  font-family: system-ui, sans-serif;
}

.hero {
  background: url("../../assets/herobanner.png") no-repeat right 100% top 20%;
  /* background-color: aquamarine; */
  /* filter: grayscale(100); */
  padding: 4rem 1.5rem;
  height: 62vh;
}

.hero-content {
  max-width: 1100px;
  margin: 0 auto auto 10px;
}
.hero .hero-title-1 {
  /* color: #a0f1e3; */
  color: black;
}
.hero .hero-title-2 {
  /* color: #f7a8b8; */
  color: #f3f4f6;
}
.hero .hero-title-3 {
  color: #f3f4f6;
}

.hero h1 {
  /* font-size: clamp(2rem, 4vw, 3rem); */
  font-size: clamp(1.8rem, 3.5vw, 2.7rem);
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #e5e7eb;
}

.hero h1 span {
  display: block;
  font-weight: 500;
  color: #555;
  margin-top: 0.5rem;
}

.summary {
  max-width: 650px;
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 2rem;
}

.hero-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  text-decoration: none;
  background: #e5e7eb;
  color: #111;
  font-weight: 500;
}

.btn.primary {
  background: #2563eb;
  color: #fff;
}

.impact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 3rem 1.5rem 0rem;
  max-width: 1100px;
  margin: 0 auto;
}

.impact-card {
  background: #c9d3e6ba !important;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.impact-card h2 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  color: #2563eb;
}

.highlights {
  padding: 3rem 1.5rem 4rem;
  background: #fafafa;
}

.highlights h2 {
  max-width: 1100px;
  margin: 0 auto 2rem;
}

.highlight-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.highlight-card {
  background: #c9d3e6ba !important;
  border-radius: 12px;
  padding: 2rem;
  min-height: 120px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights {
  padding: 3rem 1.5rem;
}

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.video-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  padding: 0.8rem 1rem;
  font-size: 0.95rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .hero {
    padding: 3.5rem 1.25rem;
    background: url("../../assets/herobanner_mobile.png") right 100% top 10%;
    background-size: cover;
  }

  .summary {
    font-size: 1rem;
  }
}
