@import "tailwindcss";

@layer base {
  body {
    font-family: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .hero-banner {
    background-size: initial;
    background-image: url("../assets/heroban1.png");
    background-position: right 50% top 20%;
    filter: grayscale(70%);
  }
  
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in;
  }
}
